## Importando o pandas e o leitor de url

In [0]:
import pandas as pd
import io
import requests

## Lendo a url do arquivo csv

In [12]:
url = "https://raw.githubusercontent.com/dressalsl/tutorialPandas/master/dataSets/bank.csv"
df = pd.read_csv(url, sep=';')
df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

## O metódo .groupby() serve para agrupar os dados para fazer operações e manipulações com eles

## Com o .groupby().mean() tiramos a média , nesse caso da coluna "marital"

In [5]:
df.groupby('marital').mean()

                age      balance        day  ...  campaign      pdays  previous
marital                                      ...
divorced  45.475379  1122.390152  15.753788  ...  2.604167  38.827652  0.439394
married   43.454415  1463.195567  15.905971  ...  2.847336  38.466929  0.519128
single    33.927258  1460.414716  16.008361  ...  2.751672  43.220736  0.642977

[3 rows x 7 columns]

## Tirando a média de várias colunas com SubSets. Observe "duration" é do tipo int64 para poder tirar a média

In [16]:
  df[["marital", "contact", "duration"]].groupby(["marital", "contact"]).mean()

                      duration
marital  contact
divorced cellular   290.548287
         telephone  243.941176
         unknown    265.173410
married  cellular   258.004614
         telephone  254.368932
         unknown    254.061844
single   cellular   276.946492
         telephone  205.836066
         unknown    282.159864

## Com o .groupby().mean().sort_values() sabemos os valores da média de determinada coluna em ordem crescente

In [6]:
df.groupby("marital").mean()["age"].sort_values()

marital
single      33.927258
married     43.454415
divorced    45.475379
Name: age, dtype: float64

## Com o .groupby().first() apresenta o primeiro dos valores dentro de cada grupo

In [9]:
df.groupby(['marital', 'age']).first().head(10)

                      job  education default  ...  previous poutcome    y
marital  age                                  ...
divorced 26      services  secondary      no  ...         0  unknown   no
         27        admin.  secondary      no  ...         0  unknown  yes
         28    technician   tertiary      no  ...         0  unknown   no
         29    management   tertiary      no  ...         0  unknown   no
         30      services  secondary      no  ...         0  unknown   no
         31        admin.  secondary      no  ...         0  unknown   no
         32    management   tertiary      no  ...         0  unknown   no
         33      services  secondary      no  ...         0  unknown   no
         34   blue-collar    unknown      no  ...         0  unknown  yes
         35    technician  secondary      no  ...         0  unknown   no

[10 rows x 15 columns]

## Média das idades das pessoas com idade entre 18 e 50 anos com a escolaridade primaria e secundaria

In [17]:

colunas = ["education","age"]
df[((df.age >= 18) & (df.age <= 50)) & (df.education.isin(["primary", "secondary"]))][colunas].groupby(["education"]).mean()

                 age
education
primary    40.100703
secondary  36.552756

# #Exercício:

###a) Com o .groupby().mean() tire a média da coluna "education"
###b) Com o .groupby().mean().sort_values() use na coluna "education"
###c) Crie uma variável e filtre a média das idades das pessoas com idades entre 50 - 60 anos com a escolaridade "tertiary"

In [0]:
#a)

In [0]:
#b)

In [0]:
#c)